<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
         <title>Rocío Barramuño</title>

	<!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom Style -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--<link href="assets/css/font-awesome.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    </head>
    <body data-spy="scroll" data-offset="0" data-target="../#theMenu">
	{{ content }}
	    <!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="../" >Rocío</a></h1>
			<i class="fa fa-times menu-close"></i>
			<a href="../" >Inicio</a>
			<a href="../#about" >Sobre mí</a>
			<a href="../#work" >Mis Proyectos</a>
			<a href="../#services" >Experiencia</a>
			<a href="../#contact" >Contacto</a>
			<a href="https://www.linkedin.com/in/rocioBarramuno"><i class="fab fa-linkedin"></i></a>
			<a href="https://github.com/rbarramu"><i class="fab fa-github"></i></a>
      <a href="https://gitlab.com/rbarramu"><i class="fab fa-gitlab"></i></a>
			<a href="mailto:rocio.barramuno@gmail.com"><i class="fa fa-envelope"></i></a>
		</div>

		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>


        <section id="about" name="about"></section>
	<div id="aboutwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 name">
					<img class="img-responsive" src="assets/img/rocio.png">
					<p>Rocío Barramuño</p>
					<a href="assets/CV_RocioBarramuno.pdf" target="blank">
            <div class="name-label">
            </div>
          </a>
				</div><! --/col-lg-4-->
				<div class="col-lg-8 name-desc">
				<!--	<h2>DESIGNER / <br/>DEVELOPER <br/>DESARROLLADORA IOS</h2>-->
        <h2>DESARROLLADORA IOS</h2>
					<div class="name-zig"></div>
						<p> Desarrolladora con más de dos años de experiencia, principalmente especializada en desarrollo de aplicaciones
              móviles nativas en iOS (Swift).
                Además cuento con experiencia desarrollando Bots en Facebook Messenger, Telegram y Microcontroladores como Arduino.</p>
            <p>  Me siento cómoda trabajando con un buen equipo de desarrolladores y siempre estoy dispuesta a aprender, mejorar y cumplir mis
              objetivos tanto en el ámbito personal como laboral. </p>
              <div class="col-md-6">
                <h4>Herramientas y Plataformas utilizadas</h4>
                <div class="tools">
                  <a href="https://itunes.apple.com/cl/app/xcode/id497799835?mt=12"><img src="assets/img/xcode-icon.png" alt="Xcode"></a>
                  <a href="https://gitlab.com/"><img src="assets/img/gitlab.png" alt="GitLab"></a>
                  <a href="https://www.atlassian.com/es/software/bitbucket"><img src="assets/img/bitbucket.png" alt="Bitbucket"></a>
                  <a href="https://atom.io/"><img src="assets/img/atom.png" alt="Atom"></a>
                  <a href="https://www.figma.com/"><img src="assets/img/figma.png" alt="Figma"></a>
                  <a href="https://launchdarkly.com/"><img src="assets/img/LD.png" alt="LaunchDarkly"></a>
                  <a href="https://firebase.google.com/"><img src="assets/img/firebase.png" alt="Firebase"></a>
                  <a href="https://www.atlassian.com/es/software/jira"><img src="assets/img/jira.png" alt="Jira"></a>
                  <a href="https://www.postman.com/"><img src="assets/img/postman.png" alt="Postman"></a>
                  <a href="https://www.medallia.com/"><img src="assets/img/medallia.png" alt="Medallia"></a>
                  <a href="https://www.arduino.cc/en/software"><img src="assets/img/arduino.png" alt="Arduino IDE"></a>
                  <img src="assets/img/terminals.png" alt="Terminal">
                </div>
            </div>
            <div class="col-md-6">
              <h4>Tengo experiencia en</h4>
              <ul class="tools">
                <li>Swift</li>
                <li>Arduino</li>
                <li>NodeJS</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Latex</li>
                <li>MySQL</li>
                <!-- <li>HTML</li>
                <li>CSS</li> -->
              </ul>
            </div>
				</div><!-- /collg8 -->
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /aboutwrap -->


  <!-- ABOUT SEPARATOR -->
  	<div class="sep about hidden-xs" data-stellar-background-ratio="0.5"></div>


    <!-- WORK SECTION -->
    	<section id="work" name="work"></section>
    	<div id="workwrap">
        <div class="container">

            <div class="row">
              <h1>Mis Proyectos</h1>
            </div><!--/Row -->
            <!-- Work -->
    			</div><!--/Container -->
          <div class="container-fluid" id="recentWorks">
              <!-- <div class="row">
                <div class="col-md-4 no_padding">
                      <div class="single_image">
                          <img src="assets/img/portfolio/houseStream" alt="">
                          <div class="image_overlay">
                              <a href="">Proyecto en Proceso</a>
                              <h2>HouseStream</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image">
                          <img src="assets/img/portfolio/motionUser.png" alt="">
                          <div class="image_overlay">
                              <a href="https://itunes.apple.com/cl/app/motionuser/id1288757953?mt=8">Ver Proyecto</a>
                              <h2>MotionUser</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image">
                          <img src="assets/img/portfolio/motionCoach.png" alt="">
                          <div class="image_overlay">
                              <a href="https://itunes.apple.com/cl/app/motioncoach/id1315912433?mt=8">Ver Proyecto</a>
                              <h2>MotionCoach</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image">
                          <img src="assets/img/portfolio/motionAdmin.png" alt="">
                          <div class="image_overlay">
                              <a href="https://itunes.apple.com/cl/app/motionadmin/id1328112828?mt=8">Ver Proyecto</a>
                              <h2>MotionAdmin</h2>
                          </div>
                      </div>
                  </div>
              </div>
               <div class="row pad_top">
                  <div class="col-md-4 no_padding">
                      <div class="single_image">
                          <img src="assets/img/portfolio/icar.png" alt="">
                          <div class="image_overlay">
                              <a href="https://play.google.com/store/apps/details?id=com.jumpitt.i_car">Ver Proyecto</a>
                              <h2>Icar</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image">
                          <img src="assets/img/portfolio/gytradeCoaches.png" alt="">
                          <div class="image_overlay">
                              <a href="https://itunes.apple.com/cl/app/gytrade-coaches/id1304458081?mt=8">Ver Proyecto</a>
                              <h2>Gytrade Coaches</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image last_padding">
                          <img src="assets/img/portfolio/gytradeCaptador.png" alt="">
                          <div class="image_overlay">
                              <a href="https://itunes.apple.com/cl/app/gytrade-captador/id1299577827?mt=8">Ver Proyecto</a>
                              <h2>Gytrade Captador</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image last_padding">
                          <img src="assets/img/portfolio/manager.png" alt="">
                          <div class="image_overlay">
                              <a href="https://itunes.apple.com/cl/app/appventasmanager/id1267499685?mt=8">Ver Proyecto</a>
                              <h2>Manager</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image last_padding">
                          <img src="assets/img/portfolio/waitless.png" alt="">
                          <div class="image_overlay">
                              <a href="https://itunes.apple.com/cl/app/waitless/id1159133666?mt=8">Ver Proyecto</a>
                              <h2>Waitless</h2>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 no_padding">
                      <div class="single_image last_padding">
                          <img src="assets/img/portfolio/waitlessBot.jpg" alt="">
                          <div class="image_overlay">
                              <a href="http://m.me/waitlessChile">Ver Proyecto</a>
                              <h2>Waitless Bot Facebook Messenger</h2>
                          </div>
                      </div>
                  </div>
              </div>-->
          </div>
          <div class="loadMore" id="loadButton">
            <button class="btn-load" onclick="loadMoreWorks()"> Ver más </button>
          </div>
    	</div><!--/Workwrap -->
    	<!-- WORK SEPARATOR -->
    	<div class="sep work hidden-xs" data-stellar-background-ratio="0.5"></div>

    <!-- SERVICE SECTION -->
    	<section id="services" name="experience"></section>
    	<div id="servicewrap">
    		<div class="container">
    			<div class="row">
    				<div class="col-lg-8-offset-2 centered">
    					<h1>Mi Educación y Experiencia Profesional</h1>
    				</div><!-- /col-lg-8 -->
    			</div><!--/row -->

        <section id="timeline">
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">16<sup>th</sup></span> -->
                <span class="month">2021</span>
                <span class="year">Septiembre</span>
              </span>
              <h2>Universidad Técnica Federico Santa María - Valparaíso</h2>
              <p>Titulación de la carrera de Ingeniería de Ejecución en Informática</p>
            </div>
          </article>
          <article>
          <div class="inner">
            <span class="date">
              <!-- <span class="day">16<sup>th</sup></span> -->
              <span class="month">2020</span>
              <span class="year">Diciembre</span>
            </span>
            <h2>Mobdev - Desarrolladora iOS</h2>
            <p>Desarrollo de distintas funcionalidades para la aplicación de Scotiabank en Swift.</p>
            <p>Aplicación de principios SOLID y arquitectura Clean Architecture</p>
          </div>
          </article>
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">16<sup>th</sup></span> -->
                <span class="month">2020</span>
                <span class="year">Agosto</span>
              </span>
          <h2>Taller de Lengua de Señas - INJUV</h2>
          <p>Taller básico de Lengua de Señas con instructora sorda e intérprete</p>
          </div>
        </article>
          <article>
          <div class="inner">
            <span class="date">
              <!-- <span class="day">16<sup>th</sup></span> -->
              <span class="month">2017</span>
              <span class="year">Marzo</span>
            </span>
            <h2>JumpittLabs - Desarrolladora iOS</h2>
            <p>Desarrollo constante de aplicaciones nativas en Swift</p>
          </div>
        </article>
        <article>
          <div class="inner">
            <span class="date">
              <!-- <span class="day">17<sup>th</sup></span> -->
              <span class="month">2017</span>
              <span class="year">Enero</span>
            </span>
            <h2>JumpittLabs - Práctica Profesional</h2>
            <p> Desarrollo aplicación interna en iOS y Bot de Telegram (JumpittContacts)</p>
          </div>
        </article>
          <article>
          <div class="inner">
            <span class="date">
              <!-- <span class="day">6<sup>th</sup></span> -->
              <span class="month">2016</span>
              <span class="year">Abril</span>
            </span>
            <h2>Pre empresa Debak - Desarrolladora ChatBot y iOS</h2>
            <p> Desarrollo de aplicación "Waitless" en iOS y Bot en Facebook Messenger para
              la XXIV versión de la Feria de Software de la USM</p>
          </div>
        </article>
            <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">20<sup>th</sup></span> -->
                <span class="month">2016</span>
                <span class="year">Mayo</span>
              </span>
              <h2>Red de Ex Alumnos USM - Apoyo Mantención Sistemas de Gestión</h2>
              <p> Desarrollo y mantención de aplicación web en JAVA (SpringMVC)</p>
            </div>
          </article>
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">1<sup>st</sup></span> -->
                <span class="month">2014</span>
                <span class="year">Agosto</span>
              </span>
              <h2>Curso Grafología Elemental - USM </h2>
              <p>Análisis de escrituras</p>
            </div>
          </article>
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">1<sup>st</sup></span> -->
                <span class="month">2014</span>
                <span class="year">Marzo</span>
              </span>
              <h2>Taller de Desarrollo de Apps en Android  - USM </h2>
              <p>Desarrollo funcional de una aplicación móvil en Android</p>
            </div>
          </article>
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">1<sup>st</sup></span> -->
                <span class="month">2013</span>
                <span class="year">Marzo</span>
              </span>
              <h2>Taller de Coaching Laboral - USM</h2>
              <p>Realización de distintas actividades para enfrentarse a una entrevista laboral y desarrollar habilidades blandas.</p>
              <p>Pruebas Assesment</p>
            </div>
          </article>
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">1<sup>st</sup></span> -->
                <span class="month">2011</span>
                <span class="year">Marzo</span>
              </span>
              <h2>Universidad Técnica Federico Santa María - Valparaíso</h2>
              <p>Ingreso a la carrera de Ingeniería de Ejecución en Informática</p>
            </div>
          </article>
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">20<sup>th</sup></span> -->
                <span class="month">2010</span>
                <span class="year">Diciembre</span>
              </span>
              <h2>Liceo María Auxiliadora - Linares VII Región</h2>
              <p> Finalización de Enseñanza Media</p>
            </div>
          </article>
          <article>
            <div class="inner">
              <span class="date">
                <!-- <span class="day">6<sup>th</sup></span> -->
                <span class="month">2006</span>
                <span class="year">Diciembre</span>
              </span>
              <h2>Escuela Nº7 Arabe Siria - Puerto Montt X Región</h2>
              <p>Finalización de Enseñanza Básica</p>
            </div>
          </article>
        </section>

    		</div><!--/container -->
    	</div><!--/servicewrap -->



  <!-- CONTACT SECTION -->
  	<section id="contact" name="contact"></section>

  	<div id="contactwrap">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
            			<h4 class="contact-text">Contáctame</h4>
            			<div class="social-buttons">
             			<!-- <a href="https://www.facebook.com/Niranjanrav" class="social-button facebook">
               			<i class="fa fa-facebook"></i></a> -->
                			<a href="https://www.linkedin.com/in/rocioBarramuno" class="social-button linkedin">
                  		<i class="fab fa-linkedin"></i></a>
                  		<a href="https://github.com/rbarramu" class="social-button github">
                  		<i class="fab fa-github"></i></a>
                      <a href="https://gitlab.com/rbarramu" class="social-button gitlab">
                  		<i class="fab fa-gitlab"></i></a>
                  		<a href="mailto:rocio.barramuno@gmail.com" class="social-button mail">
                  		<i class="fa fa-envelope"></i></a>
            		</div>

  			</div>
  		</div><!--/row -->

  		</div><!-- /container -->
  	</div>

      <!-- Bootstrap core JavaScript
      ================================================== -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  	<script src="assets/js/classie.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/smoothscroll.js"></script>
    <script src="assets/js/animations.js"></script>
  	<script src="assets/js/jquery.stellar.min.js"></script>
  	<script src="assets/js/main.js"></script>
    <script src="assets/js/typed.js"></script>

    </script>
  		<script>
  		$(function(){
  			$.stellar({
  				horizontalScrolling: false,
  				verticalOffset: 40
  			});
  		});
  		</script>


    </body>
</html>
